/***** Fonts ******/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');

/***** Main Color Palette *****/

:root {
    --white: #FFFFFF; /* Main white, Background color */
    --seasalt: #F8F8F8; /* Secondary white */
    --light-gray: #999999; /* Light gray color */
    --gray: #666666; /* Gray color */
    --light-main-blue: #ADD1F8FF; /* Light main blue */
    --main-blue: #add1f8; /* Main blue */
    --main-blue-hover: rgb(141, 197, 246); /* Main blue */
    --darker-blue: #2A4176; /* Secondary blue */
    --light-gold: #dab97d; /* Luxury accent */
    --gold: #C49339; /* Luxury accent */
    --raisin-black: #202231; /* Main black, text color */
    --barn-red: #811E0E; /* Ticket text color */
    --cal-poly-green: #2D4A1C; /* Ticket text color */
    --space-cadet-blue: #231F53; /* Ticket text color */
}

/***** Effects *****/

.color-effect {
    background: linear-gradient(90deg, rgba(186, 148, 62, 1) 0%, rgba(236, 172, 32, 1) 20%, rgba(186, 148, 62, 1) 39%, rgba(249, 244, 180, 1) 50%, rgba(186, 148, 62, 1) 60%, rgba(236, 172, 32, 1) 80%, rgba(186, 148, 62, 1) 100%);
    text-transform: uppercase;
    -webkit-background-clip: text; /* Clipping background to text */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Makes the text color transparent */
    display: inline-block; /* Essential for gradient to work */
    width: fit-content; /* Ensures gradient fits to text width only */
    animation: shine 4s infinite; /* Animation */
    background-size: 200%; /* Background size */
}

@keyframes shine {
    from {
        background-position: right
    }
    to {
        background-position: left
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--light-main-blue) 20%, rgba(0, 0, 0, 0.001) 100%);
    z-index: -1;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    object-fit: cover;
    object-position: center;
    opacity: 0.2;
}

/***** General *****/

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
    background-color: var(--seasalt);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 85%;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/***** Typography *****/

.main-h1 {
    font-size: 4rem;
    color: var(--raisin-black);
    margin-bottom: 2.5rem;
}

.main-h1:hover {
    animation: firework 1s infinite;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 3rem;
    color: var(--raisin-black);
}

h2 {
    margin: 0;
    padding: 0.5rem 0;
}

h3 {
    margin: 0;
}

p {
    font-size: 1.1rem;
    line-height: 1;
    color: var(--raisin-black);
}

a {
    text-decoration: none;
    color: var(--seasalt);
}

input {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 2px;
}

.video-link {
    color: var(--darker-blue);
    text-decoration: none;
    margin-bottom: 2rem;
}

.video-link:hover {
    color: var(--darker-blue);
    text-decoration: underline;
}

.color-red {
    font-size: 1.6rem;
    color: var(--barn-red);
}

.color-green {
    font-size: 1.6rem;
    color: var(--cal-poly-green);
}

.color-blue {
    font-size: 1.6rem;
    color: var(--space-cadet-blue);
}

/***** Buttons *****/

.main-buttons {
    width: 16rem;
    font-size: 1.3rem;
    margin: 0 1rem 1rem;
    padding: 1.2rem 2.8rem;
}

button {
    margin: 0 1rem 1rem;
    padding: 0.6rem 1.6rem;
    width: 10rem;
    font-size: 1.1rem;
    font-family: "Bodoni Moda", serif;
    color: var(--raisin-black);
    background-color: var(--main-blue);
    border: 2px solid var(--gold);
    border-radius: 2px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Cursor changes to pointer */
}

button:hover {
    background-color: var(--main-blue-hover);
    transform: scale(1.03); /* Slightly bigger */
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 30rem;
}

/***** List *****/

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 2rem;
    max-width: 42rem;
    line-height: 1.2;
}

li {
    margin-bottom: 0.2rem;
}

/***** New Game *****/

.form-container {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

/***** Instructions *****/

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 2rem;
}

/***** Tekijät *****/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    width: 13rem;
    color: var(--light-gray);
    background-color: var(--seasalt);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px; /* Rounded corners */
}

card img {
    border-radius: 20px; /* Rounded corners */
}

/***** Map *****/

