/***** Fonts ******/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');

/***** Main Color Palette *****/

:root {
    --white: #FFFFFF; /* Main white, Background color */
    --seasalt: #F8F8F8; /* Secondary white */
    --light-gray: #999999; /* Light gray color */
    --gray: #666666; /* Gray color */
    --main-blue: #6F99C2; /* Main blue */
    --main-blue-hover: rgba(111, 153, 194, 0.8); /* Main blue */
    --darker-blue: #2A4176; /* Secondary blue */
    --light-gold: #dab97d; /* Luxury accent */
    --gold: #C49339; /* Luxury accent */
    --raisin-black: #202231; /* Main black, text color */
    --barn-red: #811E0E; /* Ticket text color */
    --cal-poly-green: #2D4A1C; /* Ticket text color */
    --space-cadet-blue: #231F53; /* Ticket text color */
}

/***** Effects *****/

.color-effect {
    background: linear-gradient(90deg, rgba(186, 148, 62, 1) 0%, rgba(236, 172, 32, 1) 20%, rgba(186, 148, 62, 1) 39%, rgba(249, 244, 180, 1) 50%, rgba(186, 148, 62, 1) 60%, rgba(236, 172, 32, 1) 80%, rgba(186, 148, 62, 1) 100%);
    text-transform: uppercase;
    -webkit-background-clip: text; /* Clipping background to text */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Makes the text color transparent */
    display: inline-block; /* Essential for gradient to work */
    width: fit-content; /* Ensures gradient fits to text width only */
    animation: shine 4s infinite; /* Animation */
    background-size: 200%; /* Background size */
}

@keyframes shine {
    from {
        background-position: right
    }
    to {
        background-position: left
    }
}

.main-body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--seasalt) 25%, rgba(0, 0, 0, 0.001) 100%);
    z-index: -1;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    object-fit: cover;
    object-position: center;
    opacity: 0.1;
}

/***** General *****/

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    background-color: var(--seasalt);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-body {
    width: 85%;
    height: 90vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/***** Typography *****/

h1:hover {
    animation: firework 1s infinite;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-size: 4rem;
    color: var(--raisin-black);
}

a {
    text-decoration: none;
    color: var(--seasalt);
}

.color-red {
    font-size: 1.6rem;
    color: var(--barn-red);
}

.color-green {
    font-size: 1.6rem;
    color: var(--cal-poly-green);
}

.color-blue {
    font-size: 1.6rem;
    color: var(--space-cadet-blue);
}

/***** Buttons *****/

button {
    margin: 0 1rem 1rem;
    padding: 1.2rem 2.8rem;
    width: 16rem;
    color: var(--seasalt);
    font-size: 1.3rem;
    font-family: "Bodoni Moda", serif;
    background-color: var(--main-blue);
    border: 1px solid var(--gold);
    border-radius: 2px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Cursor changes to pointer */
}

button:hover {
    background-color: var(--main-blue-hover);
    border: 1px solid var(--gold); /* Gold border */
    transform: translateY(-0.5px); /* Slight upward movement */
}

.buttons {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}